
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Neuralgae - Chapter One</title>

    <link href="css/neuralgae.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-10" role="main">
      <div class="container">

      {{ #stanzas }}
        <div class="row">
          <div class="col-sm-4 image">
            <img src="img/{{ c }}/{{ n }}.jpg" />
          </div>
          <div class="col-sm-8 text">
           {{ #lines }}
           {{ line }}<br />
           {{ /lines }}
          </div>
        </div>
      {{ /stanzas }}
      </div>
    </div>
    <div class="col-md-2" role="complementary">
      <nav class="hidden-print hidden-xs hidden-sm affix">
      <p>neuralgia - a generated novel</p>
      <ul class="nav">
        <li><a href="chapter1.html">Book 1</a></li>
        <li><a href="chapter2.html">Book 2</a></li>
        <li><a href="chapter3.html">Book 3</a></li>
        <li><a href="chapter4.html">Book 4</a></li>
        <li><a href="chapter5.html">Book 5</a></li>
        <li><a href="about.html">About / credits</a></li>
      </ul>
    </div>
  </div>    
</div>

  </body>
</html>