{
    "basefile": "{{outfile}}", 
    "config": null, 
    "frames": 1, 
    "glide": null, 
    "guide": null, 
    "guidelayer": "inception_3b/output", 
    "initial": 0, 
    "input": "{{infile}}", 
    "iters": 300, 
    "keys": false, 
    "layer": null, 
    "model": "googlenet", 
    "octaves": 4, 
    "output": "./Neuralgia/", 
    "rotate": 0, 
    "sigma": 0.4, 
    "target": "{{targets}}", 
    "verbose": false, 
    "weight": null, 
    "zoom": 0
}
